<%- include('includes/head') %>
<div id="hideAll"></div>
    <nav>
        <div class="navbar">
            <i class='bx bx-menu'></i>
            <div class="logo"><a href="/">Ótica Girêh</a></div>
            <div class="nav-links">
                <div class="sidebar-logo">
                    <span class="logo-name">Ótica Girêh</span>
                    <i class='bx bx-x'></i>
                </div>
                <ul class="links">
                    <% if(user){%>
                        <li>
                            <a class="servicoMostra" href="#">SERVIÇOS</a>
                            <i class='bx bxs-chevron-down htmlcss-arrow arrow  '></i>
                            <ul class="htmlCss-sub-menu sub-menu">
                                <li><a href="/servicos/index">Nova Venda</a></li>
                                <li><a href="/">Lista de Vendas</a></li>
                                <li class="more">
                                    <span><a class="mostraMais" href="#">Concertos</a>
                                        <i class='bx bxs-chevron-right arrow more-arrow'></i>
                                    </span>
                                    <ul class="more-sub-menu sub-menu">
                                        <li><a href="/concerto/novo-concerto">Novo Concerto</a></li>
                                        <li><a href="/concertos/concertos">Lista de Concertos</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </li>

                        <li>
                            <a class="exameMOstra" href="#">EXAME</a>
                            <i class='bx bxs-chevron-down js-arrow arrow '></i>
                            <ul class="js-sub-menu sub-menu">
                                <li><a href="/fichas/index">Nova Ficha Optométrica</a></li>
                                <li><a href="/fichas/fichas">Fichas Optométricas</a></li>
                            </ul>
                        </li>

                        <li>
                            <a href="/ferramentas/index">FERRAMENTAS</a>
                            <i class='bx bxs-chevron-down js-arrow1 arrow '></i>
                            <ul class="js-sub-menu1 sub-menu">
                                <li><a href="/ferramentas/lista-lentes">Listagem Lentes</a></li>
                                <li><a href="/relatorios/index">Relatórios</a></li>
                                <li><a href="#">Custos</a></li>
                            </ul>
                        </li>

                        <li><a href="/login/logout">SAIR</a></li>



                </ul>
            </div>
            <form action="/servicos/pesquisa" method="GET">
                <div class="search-box">
                    <i class='bx bx-search'></i>
                    <div class="input-box">
                        <input type="text" name="nomePesquisa" placeholder="Pesquisar...">
                    </div>
                </div>
            </form>
            <%}else{%>
                <li><a href="/login/index">ENTRAR</a></li>
                </ul>
                <%}%>

        </div>
    </nav>
    <section class="espacamento"></section>
    <div class="container">
        <div class="row">
            <div class="col-lg-2"></div>

            <div class="col-lg-8 my-3">
                <h1 class="text-center my-3">Relatório Geral</h1>
                <div class="line"></div>
                <form class="my-5" action="/relatorios/index/gera-relatorio" method="GET">

                    <div class="container__relatorio_de_ate">
                        <div class="data_container">
                            <label for="de">De:</label>
                            <input type="date" name="de" class="data" required>
                        </div>
                        <div class="data_container"> 
                            <label for="de">Até:</label>
                            <input type="date" name="ate" class="data" required>
                        </div>
                    </div>

                    <div class="accordion">
                        <button type="button" class="accordion__button">Geral <span class="accordion_button_number">
                                <em> <%= relatorio.lucroBruto.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}); %> </em></span></button>
                        <div class="accordion_content">
                            <div class="relatorio_geral_inside">
                                <div class="texto_geral">Vendas</div>
                                <div class="numero_geral"> <em> <%= relatorio.lucroVendas.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}); %> </em></div>
                            </div>

                            <div class="relatorio_geral_inside">
                                <div class="texto_geral">Concertos</div>
                                <div class="numero_geral"> <em> <%= relatorio.lucroConcertos.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}); %> </em></div>
                            </div>

                            <div class="relatorio_geral_inside">
                                <div class="texto_geral">Exames</div>
                                <div class="texto_geral"> <em> <%= relatorio.qtdExames %></em></div>
                            </div>
                        </div>
                    </div>


                    <div class="tabs_container">
                        <div class="tabs">
                            <input type="radio" class="tabs__radio" name="partes" id="vendas" checked>
                            <label class="tabs__label" for="vendas">Vendas</label>
                            <div class="tabs__content">

                                <div class="relatorio_geral_inside">
                                    <div class="texto_geral">Quantidade</div>
                                    <div class="numero_inside"> <em> <%= relatorio.qtdVenda %> </em></div>
                                </div>

                                <div class="relatorio_geral_inside">
                                    <div class="texto_geral">Recebido</div>
                                    <div class="numero_geral"> <em> <%= relatorio.valorRecebido.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}); %> </em></div>
                                </div>

                                <div class="relatorio_geral_inside">
                                    <div class="texto_geral">A Receber</div>
                                    <div class="numero_geral"> <em> <%= relatorio.valorAreceber.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}); %> </em></div>
                                </div>

                                <div class="relatorio_geral_inside">
                                    <div class="texto_geral">Lucro Bruto</div>
                                    <div class="numero_geral"> <em> <%= relatorio.lucroVendas.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}); %> </em></div>
                                </div>

                                <div class="tabs_inside">

                                    <input type="radio" class="tabs__radio" name="pagamento" checked id="pagamentos">
                                    <label class="tabs__label-inside" for="pagamentos">Pagamentos</label>
                                    <div class="tabs__content_inside">
                                        <div class="relatorio_geral_inside">
                                            <div class="texto_geral">Pagas</div>
                                            <div class="numero_inside"> <em> <%= relatorio.vendasPagas %> </em></div>
                                        </div>

                                        <div class="relatorio_geral_inside">
                                            <div class="texto_geral">Não pagas</div>
                                            <div class="numero_inside"> <em> <%= relatorio.vendasNaoPagas %> </em></div>
                                        </div>

                                        <div class="relatorio_geral_inside">
                                            <div class="texto_geral">Pagas no cartão</div>
                                            <div class="numero_inside"> <em> <%= relatorio.vendasPagasCartao %> </em></div>
                                        </div>

                                        <div class="relatorio_geral_inside">
                                            <div class="texto_geral">Pagas no dinheiro</div>
                                            <div class="numero_inside"> <em> <%= relatorio.vendasPagasDinheiro %> </em></div>
                                        </div>

                                        <div class="relatorio_geral_inside">
                                            <div class="texto_geral">Pagas no dinheiro e cartão</div>
                                            <div class="numero_inside"> <em> <%= relatorio.vendasPagasDinheiroEcartao %> </em></div>
                                        </div>

                                        <div class="relatorio_geral_inside">
                                            <div class="texto_geral">Pagas via Pix</div>
                                            <div class="numero_inside"> <em> <%= relatorio.vendasPagasPix %> </em></div>
                                        </div>

                                        <div class="relatorio_geral_inside">
                                            <div class="texto_geral">Pagas via transferência</div>
                                            <div class="numero_inside"> <em> <%= relatorio.vendasPagasTransferencia %> </em></div>
                                        </div>
                                        <div class="relatorio_geral_inside">
                                            <div class="texto_geral">Não especificado</div>
                                            <div class="numero_inside"> <em> <%= relatorio.naoEpecificado %> </em></div>
                                        </div>

                                    </div>
                                </div>

                                <div class="tabs_inside">

                                    <input type="radio" class="tabs__radio" name="partes_venda" checked id="armacoes">
                                    <label class="tabs__label-inside" for="armacoes">Armações</label>
                                    <div class="tabs__content_inside">
                                        <div class="relatorio_geral_inside">
                                            <div class="texto_geral">Lucro bruto</div>
                                            <div class="numero_geral"> <em> <%= relatorio.armacaoMaisVendidas.lcBruto.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}); %> </em></div>
                                        </div>

                                        <div class="tabs_inside">

                                            <input type="radio" class="tabs__radio" name="mais_vendida" checked
                                                id="pagamentos">
                                            <label class="tabs__label_inside_mais_vendida" for="pagamentos">Mais
                                                Vendidas</label>
                                            <div class="tabs__content_inside">
                                                <div class="accordion">
                                                    <button type="button" class="accordion__button_inside">
                                                        1º <span class="accordion_button_text"> <%= relatorio.armacaoMaisVendidas.primeiro.armacao %>
                                                        </span></button>
                                                    <div class="accordion_content_inside">
                                                        <div class="relatorio_geral_inside_inside">
                                                            <div class="texto_geral">Lucro bruto</div>
                                                            <div class="numero_geral"> <em> <%=relatorio.armacaoMaisVendidas.primeiro.lucroBruto.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}); %> </em></div>
                                                        </div>
                                                        <div class="relatorio_geral_inside_inside">
                                                            <div class="texto_geral">Quantidade vendida</div>
                                                            <div class="texto_geral"> <em> <%= relatorio.armacaoMaisVendidas.primeiro.qtd %> </em></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="accordion">
                                                    <button type="button" class="accordion__button_inside">
                                                        2º <span class="accordion_button_text"> <%= relatorio.armacaoMaisVendidas.segundo.armacao %>
                                                        </span></button>
                                                    <div class="accordion_content_inside">
                                                        <div class="relatorio_geral_inside_inside">
                                                            <div class="texto_geral">Lucro bruto</div>
                                                            <div class="numero_geral"> <em> <%= relatorio.armacaoMaisVendidas.segundo.lucroBruto.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}); %> </em></div>
                                                        </div>
                                                        <div class="relatorio_geral_inside_inside">
                                                            <div class="texto_geral">Quantidade vendida</div>
                                                            <div class="texto_geral"> <em> <%= relatorio.armacaoMaisVendidas.segundo.qtd %> </em></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="accordion">
                                                    <button type="button" class="accordion__button_inside">
                                                        3º <span class="accordion_button_text"> <%= relatorio.armacaoMaisVendidas.terceiro.armacao %>
                                                        </span></button>
                                                    <div class="accordion_content_inside">
                                                        <div class="relatorio_geral_inside_inside">
                                                            <div class="texto_geral">Lucro bruto</div>
                                                            <div class="numero_geral"> <em> <%= relatorio.armacaoMaisVendidas.terceiro.lucroBruto.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}); %> </em></div>
                                                        </div>
                                                        <div class="relatorio_geral_inside_inside">
                                                            <div class="texto_geral">Quantidade vendida</div>
                                                            <div class="texto_geral"> <em> <%= relatorio.armacaoMaisVendidas.terceiro.qtd %> </em></div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>

                                    <input type="radio" class="tabs__radio" name="partes_venda" id="lente">
                                    <label class="tabs__label-inside" for="lente">Lentes</label>
                                    <div class="tabs__content_inside">
                                        <div class="relatorio_geral_inside">
                                            <div class="texto_geral">Lucro bruto</div>
                                            <div class="numero_geral"> <em> <%= relatorio.lentesMaisVendidas.lcBruto.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}); %> </em></div>
                                        </div>

                                        <div class="tabs_inside">

                                            <input type="radio" class="tabs__radio" name="mais_vendida_lentes" checked
                                                id="pagamentos">
                                            <label class="tabs__label_inside_mais_vendida" for="pagamentos">Mais
                                                Vendidas</label>
                                            <div class="tabs__content_inside">
                                                <div class="accordion">
                                                    <button type="button" class="accordion__button_inside">
                                                        1º <span class="accordion_button_text"> <%= relatorio.lentesMaisVendidas.primeiro.lente %>
                                                        </span></button>
                                                    <div class="accordion_content_inside">
                                                        <div class="relatorio_geral_inside_inside">
                                                            <div class="texto_geral">Lucro bruto</div>
                                                            <div class="numero_geral"> <em> <%= relatorio.lentesMaisVendidas.primeiro.lucroBruto.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}); %> </em></div>
                                                        </div>
                                                        <div class="relatorio_geral_inside_inside">
                                                            <div class="texto_geral">Quantidade vendida</div>
                                                            <div class="texto_geral"> <em> <%= relatorio.lentesMaisVendidas.primeiro.qtd %> </em></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="accordion">
                                                    <button type="button" class="accordion__button_inside">
                                                        2º <span class="accordion_button_text"> <%= relatorio.lentesMaisVendidas.segundo.lente %>
                                                        </span></button>
                                                    <div class="accordion_content_inside">
                                                        <div class="relatorio_geral_inside_inside">
                                                            <div class="texto_geral">Lucro bruto</div>
                                                            <div class="numero_geral"> <em> <%= relatorio.lentesMaisVendidas.segundo.lucroBruto.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}); %> </em></div>
                                                        </div>
                                                        <div class="relatorio_geral_inside_inside">
                                                            <div class="texto_geral">Quantidade vendida</div>
                                                            <div class="texto_geral"> <em> <%= relatorio.lentesMaisVendidas.segundo.qtd %> </em></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="accordion">
                                                    <button type="button" class="accordion__button_inside">
                                                        3º <span class="accordion_button_text"> <%= relatorio.lentesMaisVendidas.terceiro.lente %>
                                                        </span></button>
                                                    <div class="accordion_content_inside">
                                                        <div class="relatorio_geral_inside_inside">
                                                            <div class="texto_geral">Lucro bruto</div>
                                                            <div class="numero_geral"> <em> <%= relatorio.lentesMaisVendidas.terceiro.lucroBruto.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}); %> </em></div>
                                                        </div>
                                                        <div class="relatorio_geral_inside_inside">
                                                            <div class="texto_geral">Quantidade vendida</div>
                                                            <div class="texto_geral"> <em><%= relatorio.lentesMaisVendidas.terceiro.qtd %></em></div>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>

                            <input type="radio" class="tabs__radio" name="partes" id="concertos">
                            <label class="tabs__label" for="concertos">Concertos</label>
                            <div class="tabs__content">

                                <div class="relatorio_geral_inside">
                                    <div class="texto_geral">Quantidade</div>
                                    <div class="numero_inside"> <em><%= relatorio.qtdConcertos %></em></div>
                                </div>

                                <div class="relatorio_geral_inside">
                                    <div class="texto_geral">Recebido</div>
                                    <div class="numero_geral"> <em> <%= relatorio.concertosRecebido.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}); %> </em></div>
                                </div>

                                <div class="relatorio_geral_inside">
                                    <div class="texto_geral">A Receber</div>
                                    <div class="numero_geral"> <em> <%= relatorio.concertosAReceber.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}); %> </em></div>
                                </div>

                                <div class="relatorio_geral_inside">
                                    <div class="texto_geral">Lucro Bruto</div>
                                    <div class="numero_geral"> <em><%= relatorio.lucroConcertos.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}); %></em></div>
                                </div>

                                <div class="tabs_inside">

                                    <input type="radio" class="tabs__radio" name="pagamento_concertos" checked
                                        id="pagamentos">
                                    <label class="tabs__label-inside" for="pagamentos">Pagamentos</label>
                                    <div class="tabs__content_inside">
                                        <div class="relatorio_geral_inside">
                                            <div class="texto_geral">Pagos</div>
                                            <div class="numero_inside"> <em> <%= relatorio.concertosPagos %></em></div>
                                        </div>

                                        <div class="relatorio_geral_inside">
                                            <div class="texto_geral">Não pagos</div>
                                            <div class="numero_inside"> <em> <%= relatorio.concertosNaoPagos %></em></div>
                                        </div>

                                    </div>
                                </div>
                                <div class="tabs_inside">
                                    <input type="radio" class="tabs__radio" name="m" checked id="pagamentos">
                                    <label class="tabs__label-inside" for="pagamentos">Quantidades</label>
                                    <div class="tabs__content_inside">
                                        <div class="accordion">
                                            <button type="button" class="accordion__button_inside">
                                                Soldas <span class="accordion_button_text"> <%= relatorio.Solda.qtd %> </span></button>
                                            <div class="accordion_content_inside">
                                                <div class="relatorio_geral_inside_inside">
                                                    <div class="texto_geral">Lucro bruto</div>
                                                    <div class="numero_geral"> <em> <%= relatorio.Solda.lcBruto.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}); %> </em></div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="accordion">
                                            <button type="button" class="accordion__button_inside">
                                                Molas <span class="accordion_button_text"><%= relatorio.Mola.qtd %></span></button>
                                            <div class="accordion_content_inside">
                                                <div class="relatorio_geral_inside_inside">
                                                    <div class="texto_geral">Lucro bruto</div>
                                                    <div class="numero_geral"> <em> <%= relatorio.Mola.lcBruto.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}); %> </em></div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="accordion">
                                            <button type="button" class="accordion__button_inside">
                                                Parafusos <span class="accordion_button_text"><%= relatorio.Parafuso.qtd %> </span></button>
                                            <div class="accordion_content_inside">
                                                <div class="relatorio_geral_inside_inside">
                                                    <div class="texto_geral">Lucro bruto</div>
                                                    <div class="numero_geral"> <em> <%= relatorio.Parafuso.lcBruto.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}); %> </em></div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="accordion">
                                            <button type="button" class="accordion__button_inside">
                                                Passagens <span class="accordion_button_text"> <%= relatorio.Passagem.qtd %> </span></button>
                                            <div class="accordion_content_inside">
                                                <div class="relatorio_geral_inside_inside">
                                                    <div class="texto_geral">Lucro bruto</div>
                                                    <div class="numero_geral"> <em> <%= relatorio.Passagem.lcBruto.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}); %> </em></div>
                                                </div>

                                            </div>
                                        </div>

                                        <div class="accordion">
                                            <button type="button" class="accordion__button_inside">
                                                Plaquetas <span class="accordion_button_text"> <%= relatorio.Plaqueta.qtd %> </span></button>
                                            <div class="accordion_content_inside">
                                                <div class="relatorio_geral_inside_inside">
                                                    <div class="texto_geral">Lucro bruto</div>
                                                    <div class="numero_geral"> <em> <%= relatorio.Plaqueta.lcBruto.toLocaleString('pt-br',{style: 'currency', currency: 'BRL'}); %> </em></div>
                                                </div>

                                            </div>
                                        </div>

                                    </div>

                                </div>

                            </div>

                            <input type="radio" class="tabs__radio" name="partes" id="exames">
                            <label class="tabs__label" for="exames">Exames</label>
                            <div class="tabs__content">
                                <div class="relatorio_geral_inside">
                                    <div class="texto_geral">Quantidade</div>
                                    <div class="texto_geral"> <em> <%= relatorio.qtdExames %> </em></div>
                                </div>
                                <div class="relatorio_geral_inside">
                                    <div class="texto_geral">Atendidos</div>
                                    <div class="texto_geral"> <em> <%= relatorio.qtdClientesAtendidos %> </em></div>
                                </div>
                                <div class="relatorio_geral_inside">
                                    <div class="texto_geral">Não atendidos</div>
                                    <div class="texto_geral"> <em> <%= relatorio.qtdClientesNaoAtendidos %> </em></div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary my-3">Gerar relatório</button>
                </form>

            </div>


        </div>






        <div class="col-lg-2"></div>
    </div>
    </div>



    <%- include('includes/footer') %>